<!DOCTYPE html>
<html>
<head>
    <title> CRUD operation with PSQL</title>
</head>
<body>
    <center>
        <h1> How to create CRUD with PSQL</h1>
        <h3> django web tutorials</h3>
        <form method = "POST">
            {% csrf_token %}
            <table border = '1'>
                <tr>
                    <td>Employee Name </td>
                    <td> <input type = 'text' placeholder=" Enter Employee name" name="empname"></td>
                </tr>
                <tr>
                    <td>Email </td>
                    <td> <input type = 'text' placeholder=" Enter Email" name="email"></td>
                </tr>
                <tr>
                    <td>Occupation</td>
                    <td> 
                        <select name = 'occupation'>
                            <option selected disabled = true>=-- select Occupation --</option>
                            <option> Engineer</option>
                            <option> HR</option>
                            <option> Sales Manager</option>
                            <option> Product Manager</option>
                    </td>
                </tr>
                <tr>
                    <th>Salary</th>
                    <td> <input type = 'text' placeholder=" Enter salary" name="salary"></td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td> <input type = 'radio' name="gender" value = 'M'>Male | <input type = 'radio' name="gender" value = 'F' >Female</td>
                </tr>
                <tr>
                    <td><input type = "submit" value = "Insert"></td>
                    <td> 
                        {% if messages %}
                        {% for mess in messages %}
                        <b style = "color: green;"> {{mess}}</b>
                        {% endfor %}
                        {% endif %} </td>
                </tr>
            </table>
            <a href = "{% url 'showEmp' %}"> Go to Home Page</a>
        </form>
    </center>
</body>
</html>